header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3vh;
  text-align: center;
  gap: 3vh;
  padding: 3vh;
  margin-top: 0;
  width: 100%
}

.__header-elements {
  display: flex;
  gap:2vh;
  align-items: center;
  text-align: center;
}