
body::-webkit-scrollbar{
  display: none;
}

.__book-container {
  border-left: 9px double rgba(28,110,164,0.66);
  border-bottom: 9px double rgba(28,110,164,0.66);
  border-radius: 40px 0px 0px 0px;
}

.book {
  margin-left: 30px;
  margin-top: 50px;
  padding: 10px;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

body {
  font-family: 'Source Sans Pro', sans-serif;;
}


