.__home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  height: 40rem;
}

.__library-list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 4rem;
  padding-right: 2rem;
  max-width: 100rem;
}

.__library-container {
  display: flex;
}

.__library-menu {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 20rem;
  gap: 3rem;
  margin-left: 2rem;
}


