@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #111D1D;
  --color-bg-variant:#5C6A6A;
  --color-primary: #00605B;
  --color-primary-variant: #606b6b;
  --color-white: #ffffff;
  --color-light: #acedf3;
  --transition: all 400ms ease;
}

.button {
  width: max-content;
  display: inline-block;
  padding: 8px 12px;
  color: var(--color-primary);
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
  font-size: 1rem;
  text-decoration: none;
}

.button-primary {
  background-color: var(--color-white);
  color: var(--color-primary);
  text-decoration: none;
}

.button-primary:hover {
  background: var(--color-white);
  background-color: var(--color-primary);
  color: var(--color-white);
  border-color: var(--color-primary);
}

.button-secondary {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-color: var(--color-primary);
}

.button-secondary:hover {
  background-color: var(--color-white);
  color: var(--color-primary)
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}